pattern-1

In [ ]:
n=int(input("number of row: "))

for i in range(n):          # print the rows
  for j in range(n):        # print the columns
    print("*", end=" ")     # print star according condition
  print()

number of row: 4
* * * *
* * * *
* * * *
* * * *

pattern-2

In [ ]:
n=int(input("number of row: "))

for i in range(n+1):
  for j in range(i):
    print("*", end=" ")
  print()

number of row: 4

*
* *
* * *
* * * *

Pattern-3

In [ ]:
n=int(input("number of row: "))

for i in range(n+1):
  for j in range(i,n):
    print("*", end=" ")
  print()

number of row: 4
* * * *
* * *
* *
*

Pattern-4

In [ ]:
n=int(input("number of row: "))

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

number of row: 4
1
1 2
1 2 3
1 2 3 4

In [ ]:
n=int(input("number of row: "))
i=1
for i in range(n + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

number of row: 4

1
1 2
1 2 3
1 2 3 4

Pattern-5

In [ ]:
n=int(input("number of row: "))

for i in range(n):
  for j in range(i,n):
    print(" ", end=" ")
  for j in range(i+1):
     print('*', end=' ')
  print()

number of row: 4
        *
      * *
    * * *
  * * * *

In [ ]:
n = 5
for i in range(n):  # Outer loop for the number of rows
  for j in range(i, n):  # Inner loop for printing spaces before the asterisks
     print(' ', end=' ')
  for j in range(i+1):  # Inner loop for printing asterisks
     print('*', end=' ')
  print()  # Move to the next line after each row

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n=5

for i in range(n):
  for j in range(i,n):
    print(" ",end="")
  for j in range (i+1):
    print("*",end="")
  print()

     *
    **
   ***
  ****
 *****

pattern-6

In [ ]:
n = 5
for i in range(n):
   for j in range(i, n):
      print(' ', end=' ')
   for j in range(i):
      print('*', end=' ')
   for j in range(i+1):
      print('*', end=' ')
   print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *