1. Ractengular

In [ ]:
n=int(input("enter a number for pattern print: "))
for i in range(n):
  for j in range(n):
    print("*", end=" " )
  print()

enter a number for pattern print: 4
* * * *
* * * *
* * * *
* * * *

2. increasing

In [ ]:
n=int(input("enter a number for pattern print: "))
for i in range(n):
  for j in range(i+1):
    print("*", end=" " )
  print()

enter a number for pattern print: 4
*
* *
* * *
* * * *

3. decreasing pattern

In [ ]:
n=int(input("enter a number for pattern print: "))
for i in range(n):
  for j in range(i,n):
    print("*", end=" " )
  print()

enter a number for pattern print: 4
* * * *
* * *
* *
*

4. right triangle

In [ ]:
n=int(input("enter a number for pattern print: "))
for i in range(n):
  for j in range(i,n):
    print(" ", end=" ")
  for j in range(i+1):
     print("*", end=" ")
  print()

enter a number for pattern print: 4
        *
      * *
    * * *
  * * * *

5. left triangle

In [ ]:
n=int(input("enter a number for pattern print: "))
for i in range(n):
  for j in range(i+1):
    print(" ", end=" ")
  for j in range(i,n):
     print("*", end=" ")
  print()

enter a number for pattern print: 4
  * * * *
    * * *
      * *
        *

In [ ]:
n=int(input("enter a number for pattern print: "))
for i in range(n):
  for j in range(i,n):
    print(" ", end=" ")
  for j in range(i):
     print("*", end=" ")
  for j in range(i+1):
      print("*", end=" ")

  print()

enter a number for pattern print: 4
        *
      * * *
    * * * * *
  * * * * * * *

In [ ]:
n=int(input("enter a number for pattern print: "))
for i in range(n):
  for j in range(i+1):
    print(" ", end=" ")
  for j in range(i,n-1):
     print("*", end=" ")
  for j in range(i,n):
       print("*", end=" ")

  print()

enter a number for pattern print: 4
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
n=int(input("enter a number for pattern print: "))
for i in range(n-1):
  for j in range(i,n):
    print(" ", end=" ")
  for j in range(i):
     print("*", end=" ")
  for j in range(i+1):
      print("*", end=" ")
  print()
for i in range(n):
  for j in range(i+1):
    print(" ", end=" ")
  for j in range(i,n-1):
     print("*", end=" ")
  for j in range(i,n):
       print("*", end=" ")

  print()

enter a number for pattern print: 4
        *
      * * *
    * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
n=int(input("enter a number for pattern print: "))
for i in range(n):
  for j in range(i+1):
    print("1", end=" " )
  print()

enter a number for pattern print: 4
1
1 1
1 1 1
1 1 1 1

In [ ]:
n=int(input("enter a number for pattern print: "))
for i in range(n):
  for j in range(i+1):
    print(i+1, end=" " )
  print()

enter a number for pattern print: 4
1
2 2
3 3 3
4 4 4 4

In [ ]:
n=int(input("enter a number for pattern print: "))
p=1
for i in range(n):
  for j in range(i+1):
    print(p, end=" " )
    p+=1
  print()

enter a number for pattern print: 4
1
2 3
4 5 6
7 8 9 10

In [59]:
n=int(input("enter a number for pattern print: "))
p=4
for i in range(n):
  for j in range(i+1):
    print(p, end=" " )
    p-=1
  print()

enter a number for pattern print: 4
4
3 2
1 0 -1
-2 -3 -4 -5